{% extends "base.html" %}
{% block title %}Places - Search{% endblock %}
{% block content %}
        <div id="map"></div>
        <div id="list-bar">
            <form id="places-search">
                <input type="text" placeholder="Places search" name="q" value="{{ query }}">
                <input type="hidden" name="lat" value="51.7531">
                <input type="hidden" name="lon" value="-1.2584">
                <input type="submit">
                <span class="deleteicon ss-icon">delete</span>
            </form>
            <h2>Results near <span >here</span></h2>
            <ul class="results-list">
                {% for result in results %}
                <li data-lon={{ result.lon }} data-lat={{ result.lat }}>
                <h3>{{ result.name }}</h3>
                <p class="metadata">{{ result.distance }}km away.</p>
                </li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}
{% block js %}
{% if config['DEBUG'] %}
<!-- Places non-minified JS -->
{% import 'handlebars.html' as handlebars with context %}
{{ handlebars.handlebar('results', template_name='places/results.handlebars') }}
<script src="{{ url_for('places.static', filename='js/moxie.places.js') }}"></script> 
{% else %}
<!-- Places minified JS -->
<script src="{{ url_for('places.static', filename='js/moxie.places.min.js') }}"></script> 
<script src="{{ url_for('places.static', filename='js/moxie.places.templates.min.js') }}"></script> 
{% endif %}
{% endblock %}
