{% extends "base.html" %}
{% block title %}Places - Search{% endblock %}
{% block content %}
        <div id="map"></div>
        <div id="list-bar">
            <form id="places-search">
                <input type="text" placeholder="Places search">
                <span class="deleteicon ss-icon">delete</span>
            </form>
            <h2>Results near <span >here</span></h2>
            <ul class="results-list">
                {% for result in results %}
                <li>
                <h3>{{ result.name }}</h3>
                <p class="metadata">{{ result.distance }}m away.</p>
                </li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}
